.notice{
    right: 10px;
    bottom: 10px;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 128, 0, 0.68);
    background-color: rgba(144, 238, 144, 0.58);
    opacity: 0;
    transition: 0.3s;
}

.active{
    opacity: 1;
}