.commentsList{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.commentItem{
    border: 1px solid #999999;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentItemTitle{
    font-size: 1.1rem;
}

.commentItemText{
    margin-top: 10px;
}

.commentItemRating{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.commentItemDate{
    margin-left: 10px;
    color: #999999;
}

.commentsBtn{

}

.commentsEmpty{
    font-size: 1.4rem;
    color: #999999;
    padding: 10px 0;
    margin: 10px 0;
}

